<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-fw pi-user"></i></span>
            <input type="text" pInputText placeholder="Nome" [(ngModel)]="user.nome">
        </div>
    </div>
    <!-- {{ user | json }} -->
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-fw pi-envelope"></i></span>
            <input type="text" pInputText placeholder="Email" [(ngModel)]="user.email">
        </div>
    </div>

    <button pButton type="button" (click)="salvar()" label="Ok"></button>

</div>